@use '../base';

.background{
    margin-bottom: 80px;
    padding-block: 1em 2em;
    background-color: base.$clr-pale-cyan;
    background-image: url('../images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;

    @include base.media-query(medium){
        background-image: url('../images/bg-hero-desktop.svg');
    }

    @include base.media-query(large){
        margin-bottom: 150px;
        padding-block: 2em;
    }
}

header{
    display: grid;
    gap: 75px;

    nav{
        display: grid;
        grid-template-columns: 50% minmax(max-content, 200px);
        gap: 1em;
        align-items: center;
        justify-content: space-between;

        .btn{
            width: 100%;
            margin-left: auto;
        }
    }
}

h1{
    @include base.media-query(large){
        font-size: 2.25rem;
    }
}

.hero{
    display: grid;
    place-items: center;
    gap: 3.5em;
    text-wrap: balance;

    &__text{
        display: grid;
        justify-items: center;
        gap: 2rem;
        text-align: center;

        @media (min-width: 1000px){
            text-align: left;
            justify-items: start;
        }

        p{
            line-height: 1.5;
        }
    }

    @include base.media-query(medium){
        grid-template-columns: 3fr 4fr;
        gap: 2.5em;

        img{
            width: 100%;
            height: auto;
        }
    }
}