@use 'variables' as var;

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    margin: 0;
    font-family: 'Open Sans';
    color: var.$clr-dark-cyan;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding-left: 0;
}

h1, h2{
    font-family: 'Poppins';
    font-weight: 600;
}

.wrapper{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.btn{
    padding: 0.5em 1em;
    border-radius: 2em;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgb(219, 219, 219);
    background-color: var.$clr-white;
    
}

.btn:is(:hover, :focus){
    outline: none;
    opacity: 0.7;
    transition: opacity 200ms ease-out;
}

.btn--primary{
    padding: 1em 2em;
    color: var.$clr-white;
    background-color: var.$clr-primary;
}