$clr-primary: hsl(322, 100%, 66%);
$clr-pale-cyan: hsl(193, 100%, 96%);
$clr-dark-cyan: hsl(192, 100%, 9%);
$clr-grayish-blue: hsl(208, 11%, 55%);
$clr-white: hsl(0, 0%, 100%);

$breakpoints: (
    medium: 800px,
    large: 1000px 
)